{% extends settings.template.default %}
{% block title %}Boxes Page | {{super()}}{% endblock %}
{% block page_content %}
    <div class="cbox">
        <div class="cbox-header">
            <h2>Box Header</h2>
        </div>
        <div class="cbox-content">
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="cbox">
        <h6 class="cbox-header">Box Header</h6>
        <p class="cbox-content">
            <strong>h6 header; no wrapping divs</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <h2>Still to Complete</h2>
    <ul>
        <li>Collapsable Button</li>
        <li>Content Selector (tabs)</li>
        <li>Search Box</li>
        <li>Pull Down (like wordpress)</li>
        <li>Draggable Boxes</li>
    </ul>
{% endblock page_content%}
