{### JQUERY & JQUERY UI ###}
<script type="text/javascript" src="static/plugin/templating/js/jquery.min.js"></script>
<script type="text/javascript" src="static/plugin/templating/js/jquery-ui.complete.min.js"></script>

{### SUPERFISH NAV ###}
<script type="text/javascript" src="static/plugin/templating/js/jquery.hoverIntent.min.js"></script>
<script type="text/javascript" src="static/plugin/templating/jquery.superfish/js/superfish.js"></script>

<script type="text/javascript">
/*<![CDATA[*/
    {{ page_js() }}
/*]]>*/
</script>
