
<script type="text/javascript">
    $(document).ready(function(){
        $("ul.sf-menu").superfish({
            dropShadows: false
        });
    });
</script>

<ul class="sf-menu">
    <li class="first"><a href="{{ current_url(root_only=True) }}">Home</a></li>
    <li>
        <a href="#">menu item</a>
        <ul>
            <li>
                <a href="#aa">menu item</a>
            </li>
            <li class="current">
                <a href="#ab">menu item</a>
                <ul>
                    <li class="current"><a href="#">menu item</a></li>
                    <li><a href="#aba">menu item</a></li>

                    <li><a href="#abb">menu item</a></li>
                    <li><a href="#abc">menu item</a></li>
                    <li><a href="#abd">menu item</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
